<!-- Email Button Only show in extra small devices -->
<div id = "email-btn" class="visible-xs"> 
	<a class="btn" href="mailto:bigVgalapin@gmail.com" target="_blank" >
		<span class="glyphicon glyphicon-envelope"></span>
		Email Me!
	</a>
</div>