<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Comfortable Internet Explorer-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/../../webpage/css/bootstrap.min.css" >
	<!-- My Designs -->
	<link rel="stylesheet" type="text/css" href="/../../webpage/css/style.css" >
	<link rel="stylesheet" type="text/css" href="/../../webpage/css/MenuButton.css" >
	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
	<% include('../partials/header') %>
	
	<% include('../partials/email') %>

	<!-- Main Content -->
	<div id="main-content" class="container"> 
		<h2 id="work-experience-title" class="text-center">
			Personal Projects
		</h2>
		<div class="text-center">
			"Just something I played around."
		</div>
		<hr>
	</div> 



	<!-- JQuery JavaScript (Need it before Bootstrap)-->
	<script src="../../webpage/js/jquery-2.1.4.min.js"></script>
	<!-- Bootstrap JavaScript -->
	<script src="../../webpage/js/bootstrap.min.js"></script>
	<!-- Ajax -->
	<script src="../../webpage/js/ajax-utils.js"></script>
	<!-- My Scripts -->
	<script src="../../webpage/js/MediaListener.js"></script>
	<script src="../../webpage/js/script.js"></script>
</body>
</html>